body{
   height:100%;
   width:100%;
   
   margin: 0;
	
}
.hero-image img{
      background-position: center;
    object-fit: cover;
    margin-top: 100px;
    position: relative;
}
.hero-heading{
  position:absolute;
  top: 10%;
  left: 15%;
}
.topnav {
  background-color: #333;
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-size: 30px;
}
.logo_wr{
  padding:1rem;
}
.nav_links{
      margin-left: auto;
}

#showcase{
  min-height:500px;

  text-align:center;
  color:#ffffff;
}

#showcase h1{
  
  margin-top:100px;
  font-size:70px;
  margin-bottom:150px;
  font-style: italic;
  text-align:center;
}

#showcase p{
  font-size:50px;
}

* {
  box-sizing: border-box;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: auto;
  background: #f1f1f1;

}

form.example{
      margin-left: 40%;
    padding-top: 20px;
}
form.example button {
  float: center;
  width: auto;
  padding: 10px;
  background: grey;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: #333;
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}

#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:200px;
}

.footer{
    position: absolute;
    bottom: -125vh;
    left: 0;
    width: 100vw;
    height: 3rem;
    background: #777;
    color: whitesmoke;
    text-align: center;
}


